html { font-size:  14px; } 


h2, h6,
p {
  margin: 0; 
}


h2, h6 {
  margin-bottom: 1.071rem; 
}


a {
  text-decoration: none;
  cursor:          pointer;
}





/*------------------------------------*\
  #TIPOGRAFIE
\*------------------------------------*/

body {
  color:            #211138;
  background-color: #f4f3f5;
  font-family:      'Montserrat', sans-serif;
}


h2 { font-size: 2.857rem; }